body {
	background: #f5f5f5;
}

.pageWrapper {
	height: 100%;
	width: 100%;
	font-family: Lato;
	font-size: 13px;
}

.display {
	display: flex;
}

.box1 {
	display: inline-flex;
	background: #ffffff;
	border-radius: 20px;
	margin: 10px;
	width: 100%;
	padding: 4px;
}

.box2 {
	display: inline-flex;
	background: #ffffff;
	border-radius: 20px 20px 0px 0px;
	margin: 10px 0px 0px 0px;
	width: 100%;
	padding: 0px 4px 0px 4px;
}

.box3 {
	display: inline-flex;
	background: #f4f2f2;
	width: 100%;
  border-top: 1px solid #cc3000
}

.box4{
	display: inline-flex;
	background: #ffffff;
	border-radius: 0px 0px 20px 20px;
	margin: 0px 0px 20px 0px;
	width: 100%;
	padding: 4px;
}

.header {
  margin-left: 20px;
  width: 85%;
  font-size: 16px;
}

.boxHeader {
  margin-left: 20px;
  border-bottom: 1px solid #cc3300;
  width: 85%;
  font-size: 16px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.form-control {
	  display: inline-flex;
    background-color: #ffffff;
    color: #bcbcbc;
    border: 1px solid #bcbcbc;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 15px;
    width: 85%;
    padding: 10px;
    background: "Aset/Profiling.png" no-repeat ;
}

.form-control:hover, .form-control:focus {
    background-color: #ffffff;
}
#myInput {
    border-box: box-sizing;
    background-repeat: no-repeat;
    font-size: 13px;
    padding: 8px 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 230px;
    overflow: auto;
    z-index: 1;
    border: 1px solid #bcbcbc;
    border-radius: 20px;
    margin-left: 20px;
    width: 25%;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.dropdown-menu {
    max-height: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.smallButton {
	border: 1px solid #CC3300;
	color: #CC3300;
	border-radius: 20px;
	padding: 8px 40px;
	background: none;
	text-decoration: none;
	font-family: Lato;
	font-size: 16px;
  cursor: pointer;
}

.smallButton:hover {
  background-color: #CC3300;
  color: #ffffff;
}

.smallButton:active {
  background-color: #CC3300;
  color: #ffffff;
}

.smallButtonIcon {
	height: 12px;
	width: 12px;
	margin-right: 5px;
}

.smallButton2 {
	border: 1px solid #CC3300;
	color: #7d7d7d;
	border-radius: 15px;
	padding: 5px 15px;
	background: none;
	text-decoration: none;
	font-family: Lato;
	font-size: 13px;
	margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.smallButtonIcon2 {
	height: 12px;
	width: 12px;
	margin-right: 5px;
}

.centerButtonWrapper {
  display: block;
	text-align: center;
}

.rightButtonWrapper {
	float: right;
}

.img {
  cursor: pointer;
}

	.loading
	{
		width:150px;
		height:150px;
		margin:10px;
		border:1px solid #000000;
		float:left;
	}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}

th {
    border: none;
    background-color: #d9d9d9;
    text-align: left;
    padding: 8px;
    font-size: 16px;
    min-width: 100px;
}

td {
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
    min-width: 100px;
}

    a.export,
    a.export:visited {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 8px;
    }
    
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}