body {
	background: #f5f5f5;
}

.pageWrapper {
	height: 100%;
	width: 100%;
	font-family: Lato;
	font-size: 13px;
}

.homeSummary {
	display: flex;
}

.homeSummaryItem {
	display: inline-flex;
	background: #ffffff;
	border-radius: 15px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
	margin: 10px;
	width: 25%;
	padding: 10px;
}

.widgetWrapper {
	display: flex;
}

.widgetBox {
	display: inline-flex;
	background: #f7f7f7;
	width: 25%;
	border-radius: 15px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
	height: 200px;
	padding: 10px 15px;
	margin: 15px;
	flex-direction: column;
}

.smallButton {
	border: 1px solid #CC3300;
	color: #7d7d7d;
	border-radius: 15px;
	padding: 5px 15px;
	background: none;
	text-decoration: none;
	font-family: Lato;
	font-size: 13px;
	margin: 10px;
}

.smallButtonIcon {
	height: 12px;
	width: 12px;
	margin-right: 5px;
}

.rightButtonWrapper {
	float: right;
}

.rightFlex {
	text-align: right;
}