body {
  background: #f5f5f5;
}

h1 {
  font-weight: normal;
  margin: 10px 30px;
}

h2 {
  font-weight: normal;
  display: inline;
  margin: 0px 15px;
}

.pageWrapper {
  height: 100%;
  width: 100%;
  font-family: Lato;
  font-size: 13px;
}

.tableParent {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px;
  table-layout: fixed;
}

.gridProfileRow {
  display: table-row;
  min-width: 100%;
}

.gridProfile {
  display: table-cell; /* list: hapus row ini */
  margin: 15px;
  padding: 5px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
}

.listProfile {
  margin: 0px 0px 10px 0px;
  padding: 5px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
}

.leftRightFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileHeader {
  border-bottom: 0.75px solid #d1d1d1;
  padding: 0px 15px 0px 25px;
}

.profileTitle {
  font-size: 20px;
  color: #CC3300;
}

.lessMargin {
  margin-bottom: 10px;
  margin-top: 0px;
}

.profileTag {
  border: 1.7px solid #d1d1d1;
  border-radius: 10px;
  color: #ababab;
  margin: 5px;
  display: table-cell;
  float: left;
}

.gridProfileTagWrapper {
  display: block;
  height: 75px; /* list: 50px */
  overflow-y: scroll;
  padding: 5px 20px; /* list: 10px 20px 5px 20px; */
}

.listProfileTagWrapper {
  display: block;
  height: 50px;
  overflow-y: scroll;
  padding: 10px 20px 5px 20px;
}

.tagContent {
  margin: 5px 12px;
}

.menuIcon {
  height: 20px;
  width: 20px;
  margin: 10px;
}

.clickable {
  cursor: pointer;
}

.textInput {
  font-size: 18px;
  font-family: Lato;
  border: none;
  outline: none;
}

.searchWrapper {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1.7px solid #d1d1d1;
  border-radius: 15px;
  padding: 5px 20px;
  margin: 10px;
}

.faOptimized {
  padding-bottom: 5px;
  display: inline;
}

.fa-search {
  color: #d1d1d1;
  margin-right: 20px;
}

.combineProfileWrapper {
  background: #ffffff;

}

.combineWrapper {
  margin: 0px 15px 10px 15px;
  padding: 5px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  text-align: center;
  padding: 0px 0px 30px 0px;
}

.combineHeader {
  border-bottom: 0.75px solid #cc3300;
  text-align: left;
  padding-top: 3px;
}

.combineHeader h1 {
  margin-left: 15px;
}

.newRow {
  border: 1px solid #cc3300;
  border-radius: 15px;
  color: #cc3300;
  font-size: 18px;
  margin: 15px 30px;
  padding: 7px 0px;
  text-align: center;
}

.redButton {
  background: #cc3300;
  border: none;
  border-radius: 17px;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 35px;
}