body {
  background: #f5f5f5;
}

h1 {
  font-weight: normal;
  margin: 0px;
}

.pageWrapper {
  height: 100%;
  /*width: 100%;*/
  font-family: Lato;
  font-size: 13px;
  padding: 40px 20px;
  box-sizing: border-box;
}

.homeSummary {
  display: flex;
}

.homeSummaryItem {
  display: inline-flex;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 25%;
  padding: 20px;
}

.homeSummaryIcon {
  height: 50px;
  width: 50px;
}

.summaryTitle {
  display: table-row;
  color: #CC3300;
  font-size: 14px;
  word-wrap: break-word;
}

.summaryContent {
  display: table-row;
  color: #bcbcbc;
  font-size: 30px;
  word-wrap: break-word;
}

.widgetWrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.widgetBoxWrapper {
  display: inline-flex;
  padding: 15px;
  width: 25%;
  height: 300px;
  box-sizing: border-box;
}

.widgetBox {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  flex-direction: column;
  flex: 1;
  font-size: 14px;
}

.red-theme {
  background: #CC3300;
  color: #ffffff;
}

.white-theme {
  background: #ffffff;
  color: #CC3300;
}

.redSmallButton {
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 20px 7px 20px;
  background: #CC3300;
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  margin: 10px;
}

.smallButtonIcon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.rightButtonWrapper {
  float: right;
}

.rightFlex {
  text-align: right;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.space-flex {
  display: flex;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  justify-content: center;
}
/*.exportCheckbox {
  border: 1px solid #CC3300;
  display: inline;
}

.exportCheckbox input[type="checkbox" i]:checked {
  border: 1px solid #000000;
  display: inline;
}*/