body {
  background: #f5f5f5;
}
.pageWrapper {
  height: 100%;
  width: 100%;
  font-family: Lato;
  font-size: 13px;
}

.sectionWrapper {
  margin: 0px 15px 10px 15px;
  padding: 5px 0px;
  /*box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);*/
  border-radius: 15px;
  background: #ffffff;
  padding: 15px 0px;
  text-align: center;
}

.inputWrapper {
  width: 30%;
  float: left;
  margin: 0px 1.6%;
  display: block;
}

.inputHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cc3300;
  font-size: 16px;
  align-items: center;
  padding-bottom: 5px;
}

.inputGroup {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 5px;
  margin: 10px 0px;
}

.inputIcon {
  color: #cc3300;
}

.userInput {
  font-family: Lato;
  border: none;
  outline: none;
  width: 100%;/*calc(100% - 20px);*/
}

.styledSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ffffff;
}

.whiteButton {
  color: #cc3300;
  border: 1px solid #cc3300;
  border-radius: 20px;
  outline: none;
  background: #ffffff;
  font-size: 16px;
  padding: 7px 50px;
}

/* from home */

.smallButtonIcon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.clickable {
  cursor: pointer;
}