<!-- HEADER -->
<head>
  <link rel="stylesheet" href="css/bootstrap-iso.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/profile.css" />
  <link rel="stylesheet" href="css/loading.css" />
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <style>
  	body {
  		font-family: Lato;
  	}
  </style>
</head>
<body>
<header class="header"></header>
<div class="header-2">
  <image style="margin-left: 50px; margin-top: 10px;" src="Aset/logo.png"/>
  <div style="position: absolute; right:80px; top: 10px; color: #F5F5F5;">
    <h3>John Doe</h3>
    <image style="height: 25px; width: 25px; right: -40px; top: 20px; position: absolute;" src="Aset/Propic.png"/>
  </div>
</div>
</body>

<!-- /.HEADER -->