body {
  background: #f5f5f5;
}

h1 {
  font-weight: normal;
  margin: 10px 30px;
}

h2 {
  font-weight: normal;
  display: inline;
  margin: 0px 15px;
}


.inputWrapper-bg {
  width: 23%; 
  float: left; 
  padding: 15px;
  box-sizing: border-box;
  text-align: left;
}
.inputWrapper-sm {
  width: 11%; 
  float: left; 
  padding: 15px;
  box-sizing: border-box;
  text-align: left;
}
.select-wrapper-bg {
  display: inline;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  padding: 6px;
  background: white;
  overflow: hidden;
  white-space: nowrap;
  width: 18.5%;
  z-index: 1;
  position: absolute;
}

.select-wrapper-sm {
  display: inline;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  padding: 6px;
  background: white;
  overflow: hidden;
  white-space: nowrap;
  width: 8.7%;
  z-index: 1;
  position: absolute;
}

.select-daypart-content, .select-tvchannel-content, .select-profile-content {
  display: inline;
  border: none !important;
  padding: 1px 0 1px 0px;

  appearance:none !important;
    -moz-appearance:none !important; 
    -webkit-appearance:none !important; 
}

#myModal {
  margin-top: 200px;
}

.pageWrapper {
  padding-top: 30px;
  padding-left: 60px;
  height: 100%;
  /*width: 100%;*/
  font-family: Lato;
  font-size: 13px;
}

.tableParent {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px;
  table-layout: fixed;
}

.gridProfileRow {
  display: table-row;
  min-width: 100%;
}

.gridProfile {
  display: table-cell; /* list: hapus row ini */
  margin: 15px;
  padding: 5px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
}

.listProfile {
  margin: 0px 0px 10px 0px;
  padding: 5px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
}

.leftRightFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileHeader {
  border-bottom: 0.75px solid #d1d1d1;
  padding: 0px 15px 0px 25px;
}

.profileTitle {
  font-size: 20px;
  color: #CC3300;
}

.lessMargin {
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 0px;
}

.profileTag {
  border: 1.7px solid #d1d1d1;
  border-radius: 10px;
  color: #ababab;
  margin: 5px;
  display: table-cell;
  float: left;
}

.gridProfileTagWrapper {
  display: block;
  height: 75px; /* list: 50px */
  overflow-y: scroll;
  padding: 5px 20px; /* list: 10px 20px 5px 20px; */
}

.listProfileTagWrapper {
  display: block;
  height: 50px;
  overflow-y: scroll;
  padding: 10px 20px 5px 20px;
}

.tagContent {
  margin: 5px 12px;
}

.menuIcon {
  height: 20px;
  width: 20px;
  margin: 10px;
}

.clickable {
  cursor: pointer;
}

.textInput {
  font-size: 18px;
  font-family: Lato;
  border: none !important;
  outline: none !important;
}

.searchWrapper {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1.7px solid #d1d1d1;
  border-radius: 15px;
  padding: 5px 20px;
  margin: 10px;
}

.faOptimized {
  padding-bottom: 5px;
  display: inline;
}

.fa-search {
  color: #d1d1d1;
  margin-right: 20px;
}

.combineProfileWrapper {
  background: #ffffff;

}

.combineWrapper {
  margin: 0px 15px 10px 15px;
  padding: 5px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  text-align: center;
  padding: 0px 0px 30px 0px;
}

.combineHeader {
  border-bottom: 0.75px solid #cc3300;
  text-align: left;
  padding-top: 3px;
}

.combineHeader h1 {
  margin-left: 15px;
}

.newRow {
  border: 1px solid #cc3300;
  border-radius: 15px;
  color: #cc3300;
  font-size: 18px;
  margin: 15px 30px;
  padding: 7px 0px;
  text-align: center;
}

.redButton {
  background: white;
  border: 3px solid #cc3300;
  border-radius: 17px;
  outline: none;
  color: #cc3300;
  font-size: 18px;
  padding: 10px 35px;
}

.redButton:hover {
  background: #cc3300;
  color: white;
}

.combine-profile-wrapper {
  padding: 10px;
}

.box-wrapper {
  width: 33%; 
  float: left; 
  padding: 15px;
  box-sizing: border-box;
}

.btn-cancel {
  border-radius: 10px;
  border: 2px solid #CC3300;
  background-color: white;
  color: #cc3300;
  font-size: 14px;
}

.btn-cancel:hover {
  background-color: #CC3300;
  color: #fff;
}

.btn-save {
  border-radius: 10px;
  border: 2px solid #CC3300;
  background-color: white;
  color: #cc3300;
  font-size: 14px;
  padding: 5px 10px;
}

.btn-save:hover {
  background-color: #CC3300;
  color: #fff;
}

.btn-create {
  border-radius: 10px;
  border: 2px solid #CC3300;
  background-color: #cc3300;
  color: white; 
  font-size: 14px;
}

#createProfileModal .close {
  font-size: 30px;
}

#createProfileModal .modal-header {
  border-bottom: none;
}

#createProfileModal .modal-footer {
  border-top: none;
}

#createProfileModal .modal-body p {
  margin-left: 10px;
  margin-top: 15px;
  font-size: 14px;
}

.inputModal {
  border-radius: 20px; 
  border: 1px solid #D2D2D2; 
  width: 100%; 
  display: inline-block; 
  padding: 10px;
  margin-top: 8px;
  white-space: nowrap;
}

.favoriteWrapper {
  height: 75px;
  border-radius: 20px; 
  border: 1px solid #D2D2D2; 
  margin-top: 8px;
}

.table-div {
  display: table;
  margin-top: 15px;
}

.tableRow-div {
  display: table-row;
}

.tableCell-div {
  display: table-cell;
  width: 400px;
  padding: 7px;
}

.fa-search {
  font-size: 20px;
}

