body {
  background: #f5f5f5;
}

h1 {
  font-weight: normal;
  margin: 0px;
}

.pageWrapper {
  height: 100%;
  /*width: 100%;*/
  font-family: Lato;
  font-size: 13px;
  padding-top: 20px;
  box-sizing: border-box;
}

.homeSummary {
  display: flex;
}

.homeSummaryItem {
  display: inline-flex;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 25%;
  padding: 20px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.homeSummaryIcon {
  height: 50px;
  width: 50px;
}

.summaryTitle {
  display: table-row;
  color: #CC3300;
  font-size: 14px;
  word-wrap: break-word;
}

.summaryContent {
  display: table-row;
  color: #bcbcbc;
  font-size: 30px;
  word-wrap: break-word;
}

.imgWrapper {
  width: 85%;
  overflow: hidden;
  text-align: center;
}

.responsiveImage {
  max-width: 100%;
  max-height: 100%;
}

.widgetWrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.widgetBoxWrapper {
  display: inline-flex;
  padding: 15px;
  width: 25%;
  height: 250px;
  box-sizing: border-box;
}

.widgetBox {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  flex-direction: column;
  flex: 1;
  font-size: 14px;
}

.widgetBox2 {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 20px;
  flex-direction: column;
  flex: 1;
  font-size: 14px;
}

.red-theme {
  background: #CC3300;
  color: #ffffff;
}

.white-theme {
  background: #ffffff;
  color: #CC3300;
}

.redSmallButton {
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 20px 7px 20px;
  background: #CC3300;
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  margin: 10px;
}

.smallButtonIcon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.rightButtonWrapper {
  float: right;
}

.rightFlex {
  text-align: right;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.space-flex {
  display: flex;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  justify-content: center;
}
/*.exportCheckbox {
  border: 1px solid #CC3300;
  display: inline;
}

.exportCheckbox input[type="checkbox" i]:checked {
  border: 1px solid #000000;
  display: inline;
}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}

th {
    border: none;
    background-color: #d9d9d9;
    text-align: left;
    padding: 8px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
    min-width: 150px;
}

td {
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
    padding-left: 60px;
    padding-right: 60px;
    min-width: 100px;
    font-size: 13px;
}

.form-control {
    background-color: #ffffff;
    color: #cc3300;
    border: 1px solid #cc3300;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    margin-top: -5px;
}

.form-control:hover, .form-control:focus {
    background-color: #ffffff;
}

.img {
  cursor: pointer;
}

.add-new-button {
  display: table;
  border-radius: 20px;
  border: 2px solid #CC3300;
  width: 250px;
  height: 250px;
  font-size: 20px;
  margin: 20px;
  background: white;
}

.container-app {
  max-width: 100%;
  padding-left: 270px;
}

.create-new-wrapper {
  border: 1px solid #CC3300; 
  text-align: center;
  display: flex;
  justify-content: center;
}

.plus-sign {
  font-size: 40px; 
  font-weight: bold; 
  margin:0;
}

.create-new {
  font-size: 26px; 
  margin: 0;
}

.no-style {
  background: none;
  margin: 0;
  padding: 0;
  border-color: none;
  border: none;
}

#myModal {
  margin-top: 100px;
}

.close {
  float: right;
  padding: 0;
  margin: 0;
}

.cancel {
  border: 2px solid #CC3300;
  color: #CC3300;
  background-color: white;
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 10px;
}

.cancel:hover {
  background-color: #CC3300;
  color: white;
}

.save {
  border: 2px solid #CC3300;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #CC3300;
  color: white;
}

.save:hover {
  background-color: white;
  color: #CC3300;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 100px;
  right: 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  color: #898989;
  text-align: left;
}

.dropdown-header {
  background: #e0e0e0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.dropdown-val {
  padding: 5px;
  font-size: 12px;
}

#dropdownControl {
  visibility: hidden;
}

#dropdownControl:checked .dropdown-content {
    display: block;
}

.clickable {
  cursor: pointer;
}