body {
  background: #f5f5f5 !important;
}
.pageWrapper {
  height: 100%;
  width: 100%;
  font-family: Lato;
  font-size: 13px;
  padding-top: 30px;
}

.sectionWrapper {
  margin: 0px 15px 10px 15px;
  padding: 5px 0px;
  /*box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);*/
  border-radius: 15px;
  background: #ffffff;
  padding: 15px 0px;
  text-align: center;
}

.sectionHeader {
  border-bottom: 1px solid #cc3300;
  font-size: 24px;
  color: #515151;
  padding: 0 20px 20px;
  text-align: left;
}

.inputWrapper {
  width: 30%;
  float: left;
  margin: 0px 1.6%;
  display: block;
}

.inputHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cc3300;
  font-size: 16px;
  align-items: center;
  padding-bottom: 5px;
}

.inputGroup {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 5px;
  margin: 10px 0px;
}

.inputIcon {
  color: #cc3300;
}

.userInput {
  font-family: Lato;
  border: none;
  outline: none;
  width: 100%;/*calc(100% - 20px);*/
}

.styledSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: url(Aset/down-arrow.png) no-repeat right #ffffff;
}

.whiteButton {
  color: #cc3300;
  border: 1px solid #cc3300;
  border-radius: 20px;
  outline: none;
  background: #ffffff;
  font-size: 16px;
  padding: 7px 50px;
}

.transparentSmallButton {
  color: #848484;
  border-radius: 20px;
  border: 1px solid #cc3300;
  padding: 5px 20px 7px 20px;
  background: none;
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  margin: 10px;
  box-sizing: border-box;
}

.summary {
  display: flex;
  box-sizing: border-box;
  padding: 15px 40px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

.summaryContent {
  display: inline-flex;
  width: 25%;
  box-sizing: border-box;
  flex-direction: column;
  padding: 10px;
}

/* from home */

.smallButtonIcon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.clickable {
  cursor: pointer;
}

a.transparentSmallButton:hover {
  text-decoration: none;
  color: #cc3300;
}

/* from TVProgramCompetitive */

div.tab {
    display: table;
    width: 100%;
}

div.tab button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    display: table-cell;
    width: 50%;
}

.tabcontent {
  display: none;
  background: #ffffff;
  width: 100%;
}

div.tab button:hover {
    background-color: #f5f5f5;
    border-bottom: 2px solid #CC3300;
}

div.tab button.active {
  border: 1px solid #e0e0e0;
    border-bottom: 2px solid #CC3300;
    background: #f5f5f5;
    outline: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 0.3s;
}

.container-app {
  max-width: 100%;
  padding-left: 270px;
}