<!-- HEADER -->
<head>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="js/sidebar.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="css/bootstrap-iso.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/profile.css" />
  <link rel="stylesheet" href="css/loading.css" />
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <style>
  	body {
  		font-family: Lato;
  	}
  </style>
</head>
<body>
	<nav>
  <div id='cssmenu'>
  <ul>
     <li class='has-sub active'>
       <a href='Home.html' target='_parent'>
         <span class="left-color"></span>
         <span class="icon-navbar"><image src="Aset/Home.png"/></span>
         <span>Home</span>
       </a>
     </li>
     <li class='has-sub'>
       <a href='HelixProfiling.html' target='_parent'>
         <span class="left-color"></span>
         <span class="icon-navbar"><image src="Aset/Helix_Profiling.png"/></span>
         <span>Helix Profiling</span>
       </a>
     </li>
     <li class='has-sub'>
       <a href='#' target='_parent'>
         <span class="left-color"></span>
         <span class="icon-navbar"><image src="Aset/View_Behaviour.png"/></span>
         <span>View Behaviour</span>
       </a>
        <ul>
           <li>
             <a href='TVChannelCompetitive.html' target='_parent'>
               <span class="icon-navbar"><image src="Aset/TV_Channel_Competitive.png"/></span>
               <span>TV Channel Competitive</span>
             </a>
           </li>
           <li>
             <a href='TVProgramCompetitive.html' target='_parent'>
               <span class="icon-navbar"><image src="Aset/TV_Program_Competitive.png"/></span>
               <span>TV Program Competitive</span>
             </a>
           </li>
           <li class='last'>
             <a href='AudienceAnalysis.html' target='_parent'>
               <span class="icon-navbar"><image src="Aset/Audience_Analysis.png"/></span>
               <span>Audience Analysis</span>
             </a>
           </li>
        </ul>
     </li>
     <li class='has-sub'>
       <a href='PostBuy.html' target='_parent'>
         <span class="left-color"></span>
         <span class="icon-navbar"><image src="Aset/Post_Buy.png"/></span>
         <span>Post Buy</span>
       </a>
     </li>
     <li class='last has-sub'>
       <a href='#' target='_parent'>
         <span class="left-color"></span>
         <span class="icon-navbar"><image src="Aset/Media_Planning.png"/></span>
         <span>Media Planning</span>
       </a>
       <ul>
          <li>
            <a href='MediaPlanning.html' target='_parent'>
              <span class="icon-navbar"><image src="Aset/Media_Planning.png"/></span>
              <span>Auto Planning</span>
            </a>
          </li>
          <li class='last'>
            <a href='UpdateScheme.html' target='_parent'>
              <span class="icon-navbar"><image src="Aset/Media_Planning.png"/></span>
              <span>Update Scheme</span>
            </a>
          </li>
       </ul>
     </li>
  </ul>
  </div>
</nav>
<script>
  console.log("aaaa",document.referrer);
</script>
</body>

<!-- /.HEADER -->