/* YOUR CUSTOM STYLES */
body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

input {
	font-family: 'Lato', sans-serif;
	font-size: 12px;	
}

p, h3, h4 {
	padding: 0;
	margin: 0;
}

.display {
	display: flex;
}

.box5 {
	display: inline-flex;
	background: #f4f2f2;
	width: 100%;
}

.box3 {
	display: inline-flex;
	background: #f4f2f2;
	width: 100%;
  	padding: 10px 0 5px 0;
}

.col-12 {width: 100%;}

.img {
  cursor: pointer;
}

.smallButton2 {
	border: 1px solid #CC3300;
	color: #7d7d7d;
	border-radius: 15px;
	padding: 5px 15px;
	background: none;
	text-decoration: none;
	font-family: Lato;
	font-size: 13px;
	margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.smallButtonIcon2 {
	height: 12px;
	width: 12px;
	margin-right: 5px;
}

.wrapper {
	background-color: #F5F5F5; 
	margin: 0;
	padding: 5% 0 0 2%;
}

.channel-competitive {
	border-radius: 15px;
	border: 1px solid #f5f5f5;
	background: white;
	margin: 40px 0 10px 0;
	overflow: hidden;
	width: 77%;
	margin-left: 20%;
	padding: 0 0 50px 0;

}

.select-wrapper {
	display: inline;
	border: 1px solid #bdbdbd;
	border-radius: 10px;
	padding: 6px;
	background: white;
	overflow: hidden;
	white-space: nowrap;
}

.select-daypart-content, .select-tvchannel-content {
	display: inline;
	border: none !important;
	padding: 1px 0 1px 0px;

	appearance:none !important;
    -moz-appearance:none !important; 
    -webkit-appearance:none !important; 
}

.title-channel-competitive {
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #CC3300;
}

div.tab {
    display: table;
    width: 100%;
}

div.tab button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    display: table-cell;
    width: 50%;
}

.tabcontent {
    display: none;
	background: #f5f5f5;
	width: 100%;
}

div.tab button:hover {
    background-color: #f5f5f5;
    border-bottom: 2px solid #CC3300;
}

div.tab button.active {
	border: 1px solid #e0e0e0;
    border-bottom: 2px solid #CC3300;
    background: #f5f5f5;
    outline: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 0.3s;
}

.rightButtonWrapper {
	float: right;
}

.smallButton {
	border: 1px solid #CC3300;
	color: #7d7d7d;
	border-radius: 15px;
	padding: 5px 15px;
	background: none;
	text-decoration: none;
	font-family: Lato;
	font-size: 13px;
	margin: 10px;
}

.smallButtonIcon {
	height: 12px;
	width: 12px;
	margin-right: 5px;
}

.smallButton:hover, .smallButton:visited, .smallButton:active {
	color: #7d7d7d;
}

.view-by {
	white-space: nowrap;
	margin-bottom: 20px;
}

.interval {
	white-space: nowrap;
	margin-bottom: 20px;
}

.view-by-content {
	display: inline-block;
	margin-right: 5px;
}

.interval-content {
	display: inline-block;
	margin-right: 5px;	
}

p.interval-content {
	margin-right: 20px;
}

p.view-by-content {
	margin-right: 20px;
}

button.view-by-content {
	border-radius: 5px;
	background: #e0e0e0;
    border: none;
    outline: none;
    cursor: pointer;
}

button.view-by-content.active {
	border-radius: 5px;
	background: #bdbdbd;
    border: none;
    outline: none;
    cursor: pointer;
}

.interval {
	white-space: nowrap;
	margin-bottom: 20px;
}

.view-by-content {
	display: inline-block;
	margin-right: 5px;
}

.interval-content {
	display: inline-block;
	margin-right: 5px;	
}

p.interval-content {
	margin-right: 20px;
}

.select-interval-content {
	display: inline;
	border: none;
	padding: 1px 40px 1px 10px;		

	appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
}

.chart-wrapper {
	background-color: white;
	text-align: center;
	padding: 20px 20px 20px 0;
}

.modal {
	padding-top: 10px;
	margin-top: 100px !important;
}

.modal-dialog {
	border-radius: 100px;
}

.btn-cancel {
	border-radius: 10px;
	border: 2px solid #CC3300;
	background-color: white;
	color: #cc3300;
	font-size: 14px;
}

.btn-cancel:hover {
	background-color: #CC3300;
	color: #fff;
}

.btn-create {
	border-radius: 10px;
	border: 2px solid #CC3300;
	background-color: #cc3300;
	color: white;	
	font-size: 14px;
}

input:focus, input:active {
	outline: none !important;
	border: none !important;
}

.yOrdinat {
	float: left;
	padding: 210px 0 0 5px;
	margin-left: 10px;
}

.inputWrapper {
	width: 25%; 
	float: left; 
	padding: 15px;
	box-sizing: border-box;
}

.titleWrapper {
	border-bottom: 1px solid #CC3300; 
	padding-bottom: 5px; 
	margin-bottom: 15px
}

.title-text {
	text-align: left; 
	display: inline;
}

.title-icon {
	text-align: right; 
	display: inline; 
	float: right;
}

#xaxis {
	margin-top: 10px;
	display: flex;
	align-items: center;
    justify-content: center;
}

#myTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}

#myTable th {
    border: none;
    background-color: #d9d9d9;
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

#myTable td {
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 13px;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}