th {
  font-weight: normal !important;
  text-align: left;
  background-color: #D9D9D9;
}

td {
  text-align: left;
}

.row-ANTV{
  background-color: #FFFFFF !important;
}

.row-RCTI{
  background-color: #FECBCB !important;
}

.row-METRO{
  background-color: #F9A8A8 !important;
}

tr, table, thead {
  border: 1px #333333 !important;
}

.card-table {
  background-color: white;
  border-radius: 20px;
  width: 98%;
  padding-bottom: 20px;
  margin: 20px;
}

.card-table-header{
  border-bottom: 1px solid #CC3300;
  padding-left: 20px;
  text-align: left;
}

.card-table-sub-header {
  width: 100%;
}

.sub-header-50{
  width: 50%;
  border: 0px;
  margin: 0px;
  background-color: #FFFFFF;
  text-align: center;
  display: inline-block;
  color: #7C7C7C;
}

.sub-header-50:hover{
  cursor: pointer;
}

.sub-header-50.active{
  background-color: #F5F5F5;
  border-bottom: #CC3300 solid 2px;
  color: #CC3300;
}

table#simple-table{
  /*border: #DCDCDC solid 1px !important;*/
  margin-top: 10px;
  margin-bottom: 20px;
}

table#simple-table>thead>tr>th{
  background-color: #FFFFFF !important;
  border: #DCDCDC solid 1px !important;
  margin: 0px;
  padding: 7px 8px;
  font-weight: bold !important;
}

table#simple-table>tbody>tr>td{
  background-color: #FFFFFF !important;
  border: #DCDCDC solid 1px !important;
  margin: 0px;
  padding: 7px 8px;
}

.header-from-card-table{
  border-bottom: 2px #CC3300 solid;
  width: 100%;
  text-align: left;
}

.body-from-card-table{
  margin-top: 10px;
}
.block-div{
  width: 30%;
  margin-left: 3%;
}

.handle-flex{
  display: flex;
  flex-wrap: wrap;
}
