*{
  /*-webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         */
  font-family: Lato;
}

p{
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top:0px;
}
body{
  padding: 0px;
  margin: 0px;
  background-color: #F5F5F5;
}

h1, h2, h3{
  font-weight: lighter;
  letter-spacing: 1px;
  display: inline-block;
}
/*Input*/
/*input[type='text']{
  border: 2px solid #C6C6C6 !important;
  background-color: #FFFFFF !important;
  padding: 5px 12px;
  border-radius: 10px;
}*/

/*select{
  border: 2px solid #C6C6C6;
  background-color: #FFFFFF !important;
  padding: 5px 12px;
  border-radius: 10px;
}*/

/*select:focus{
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}*/



/*Table*/
*:focus {
    outline: none;
}

.header{
  z-index: 3;
  background-color: #CC3300;
  width: 100vw;
  min-height: 80px;
}

.header-2{
  z-index: 4;
  background-color: #CC3300;
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 80px;
}

.container {
  /*padding-left: 280px;
  padding-top: 0;
  padding-right: 30px;*/

  padding-top: 80px;
  width: 80%;
  position: absolute;
  right: 0px;
  padding-right: 30px;
  padding-left: 30px;
}

.navWrapper {
  padding-top: 110px;
}

.body-50{
  padding-top: 30px;
  padding-left: 30px;
  margin: 0px;
  border: 0px;
  text-align: left;
  width: 50%;
  display: inline-block;
}

nav {
  z-index: 2;
  background-color: #FFFFFF;
  height: 100vh;
  position: fixed;
  left: 0px;
  min-width: 100px;
  padding-top: 20px;
  -webkit-box-shadow: 7px 0px 25px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 0px 25px -11px rgba(0,0,0,0.75);
  box-shadow: 7px 0px 25px -11px rgba(0,0,0,0.75);
}


/*Card*/
.list-card{
  width: 95%;
  margin: 0px;
  padding: 0px;
  /*background-color: yellow;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-grid {
  background-color: #fff;
  width: 300px;
  min-height: 150px;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 106px -57px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 106px -57px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 106px -57px rgba(0,0,0,0.5);
  margin-bottom: 20px;
  border: 1px solid #f8f8f8;

}

.card-list {
  background-color: #fff;
  width: 90%;
  height: 120px;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 106px -57px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 106px -57px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 106px -57px rgba(0,0,0,0.5);
  margin-bottom: 20px;
  border: 1px solid #f8f8f8;
}

.card-header {
  padding : 7px 15px;
  border-bottom: 2px solid #f8f8f8;
  min-height: 20px;
  color: #CC3300;

  font-weight: lighter;
  letter-spacing: 1px;
}

.primary-title {
  display: block;
  font-size: 16px;
}

.secondary-title {
  display: block;
  color: #4a4a4a;
  font-size:12px;
  margin-top:5px;

}

.card-body {
  /*overflow: scroll;*/
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.containt-body {
  border: 1px solid #d8d8d8;
  color: #c8c8c8  ;
  font-weight: normal;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.create-card {
  border: 2px solid #CC3300 !important;
  color: #CC3300;
  padding-top: 10px;
}

.create-card:hover {
  cursor:pointer;
}

/*Grid*/
.col-50 {
  display: inline-block;
  width: 45%;
  margin: 0% 2%;
}


.image-button {

  margin-right: 0px;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.image-button:hover {
  cursor: pointer;
}

/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  position: relative;
}

#cssmenu a {
  line-height: 1.3;
}

#cssmenu {
  width: 250px;
}

#cssmenu > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  /*background: #bd0e36;*/
  color: #3B3B3B;
  /*border-bottom: 1px solid #5e071b;*/
  /*text-transform: uppercase;*/
}

#cssmenu > ul > li > a > span {
  /*background: #ed1144;*/
  padding: 10px 30px;

  display: block;
  font-size: 13px;
  font-weight: 300;
}

#cssmenu > ul > li > a:hover {
  text-decoration: none;
  color: #CC3300;
}

#cssmenu > ul > li.active {
  border-bottom: none;
}

#cssmenu > ul > li.active > a {
  color: #3B3B3B;
  background: #f5f5f5;
  z-index: 4;
}

#cssmenu > ul > li.active > a > span.left-color {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 100%;
  background: #C92200;
  z-index: 3;
}

#cssmenu > ul > li > a > span.left-color {
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  z-index: 5;
}

#cssmenu > ul > li > a > span.icon-navbar {
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  z-index: 5;
  top: 9px;
  left: 10px;
  position: absolute;
}

#cssmenu > ul > li > a > span.shadow {
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
}
#cssmenu > ul > li.active > a > span.shadow {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 37px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 37px -18px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 37px -18px rgba(0,0,0,0.75);
}

#cssmenu > ul > li.active > a span {
  background: #f5f5f5;
}


#cssmenu > ul > li.active > a:hover {
  text-decoration: none;
  color: #CC3300;
}

#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}

/* Sub menu */
#cssmenu ul ul {
  display: none;
}

#cssmenu ul ul li {
  /*border: 1px solid #e0e0e0;*/
  border-top: 0;
}

#cssmenu ul ul a {
  padding: 10px;
  padding-left: 50px;
  display: block;
  /*color: #ed1144;*/
  color: #3B3B3B;
  font-size: 13px;
}
/*#cssmenu > ul > li > a > span.icon-navbar*/
#cssmenu>ul>li>ul>li>a>span.icon-navbar {
  top: 9px;
  left: 30px;
  position: absolute;

}
#cssmenu ul ul a:hover {
  /*color: #bd0e36;*/
  color: #CC3300;

}

#cssmenu ul ul li.odd {
  background: #fff;
}

#cssmenu ul ul li.even {
  background: #fff;
}
