.bootstrap-iso .modal {
  text-align: center;
  padding: 0!important;
}

.bootstrap-iso .modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.bootstrap-iso .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.bootstrap-iso .modal-content {
  background-color: #F5F5F5;
}

.bootstrap-iso #deleteModal .modal-content {
  width: 420px;
  background-color: #FFFFFF;
}

.bootstrap-iso .modal-title {
  font-weight: bold;
  color: #CC3300;
}

.bootstrap-iso #deleteModal .modal-title {
  font-weight: normal;
  color: #000000;
}

.bootstrap-iso .rounded-input {
  border-radius: 30px;
}

.bootstrap-iso .rounded {
  border-radius: 25px;
}

.bootstrap-iso .red-text {
  background-color: #FFFFFF;
  color: #CC3300;
  border: solid 1px;
  border-color: #CC3300;
}

.bootstrap-iso .tagsProfile, .group {
  background-color: #FFFFFF;
  border-radius: 30px;
  border: solid 1px;
  padding: 5px;
  height:180px;
  overflow-y:auto;
}

.bootstrap-iso .tagsProfile {
  height: 80px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.bootstrap-iso .tagsProfile li {
  background-color: #D9D9D9;
  color: #C3C3C3;
  font-weight: bold;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#tree {
  padding: 10px;
}

.bootstrap-iso .primary-title {
  color: #CC3300;
}