/* YOUR CUSTOM STYLES */
body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

input {
	font-family: 'Lato', sans-serif;
	font-size: 12px;	
}

p, h3, h4 {
	padding: 0;
	margin: 0;
}

.wrapper {
	background-color: #E0E0E0; 
	margin: 0;
	padding: 20px 0 0 0;
}

.channel-competitive {
	border-radius: 10px;
	border: 1px solid #f5f5f5;
	background: white;
	margin: 20px;
	overflow: hidden;
	width: 80%;
	margin-left: 17%;
	padding: 0 0 50px 0;
}

.select-wrapper {
	display: inline;
	border: 1px solid #bdbdbd;
	border-radius: 10px;
	padding: 4px;
	background: white;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	width: 100px;
}

.select-daypart-content, .select-tvchannel-content {
	display: inline;
	border: none;
	padding: 1px 0 1px 0px;

	appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
}

.title-channel-competitive {
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #CC3300;
}

div.tab {
    display: table;
    width: 100%;
}

div.tab button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    display: table-cell;
    width: 50%;
}

.tabcontent {
    display: none;
	background: #f5f5f5;
	width: 100%;
}

div.tab button:hover {
    background-color: #f5f5f5;
    border-bottom: 2px solid #CC3300;
}

div.tab button.active {
	border: 1px solid #e0e0e0;
    border-bottom: 2px solid #CC3300;
    background: #f5f5f5;
    outline: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 0.3s;
}

.rightButtonWrapper {
	float: right;
}

.smallButton {
	border: 1px solid #CC3300;
	color: #7d7d7d;
	border-radius: 15px;
	padding: 5px 15px;
	background: none;
	text-decoration: none;
	font-family: Lato;
	font-size: 13px;
	margin: 10px;
}

.smallButtonIcon {
	height: 12px;
	width: 12px;
	margin-right: 5px;
}

.smallButton:hover, .smallButton:visited, .smallButton:active {
	color: #7d7d7d;
}

.view-by {
	white-space: nowrap;
	margin-bottom: 20px;
}

.interval {
	white-space: nowrap;
	margin-bottom: 20px;
}

.view-by-content {
	display: inline-block;
	margin-right: 5px;
}

.interval-content {
	display: inline-block;
	margin-right: 5px;	
}

p.interval-content {
	margin-right: 20px;
}

p.view-by-content {
	margin-right: 20px;
}

button.view-by-content {
	border-radius: 5px;
	background: #e0e0e0;
    border: none;
    outline: none;
    cursor: pointer;
}

button.view-by-content.active {
	border-radius: 5px;
	background: #bdbdbd;
    border: none;
    outline: none;
    cursor: pointer;
}

.interval {
	white-space: nowrap;
	margin-bottom: 20px;
}

.view-by-content {
	display: inline-block;
	margin-right: 5px;
}

.interval-content {
	display: inline-block;
	margin-right: 5px;	
}

p.interval-content {
	margin-right: 20px;
}

.select-interval-content {
	display: inline;
	border: none;
	padding: 1px 40px 1px 10px;		

	appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
}

.chart-wrapper {
	background-color: white;
	text-align: center;
	padding: 20px 20px 20px 0;
}

.select-wrapper {
	display: inline;
	border: 1px solid #bdbdbd;
	border-radius: 10px;
	padding: 4px;
	background: white;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	width: 100px;
}

.modal-dialog {
	border-radius: 100px;
}

.btn-cancel {
	border-radius: 10px;
	border: 2px solid #CC3300;
	background-color: white;
	color: #cc3300;
	font-size: 14px;
}

.btn-cancel:hover {
	background-color: #CC3300;
	color: #fff;
}

.btn-create {
	border-radius: 10px;
	border: 2px solid #CC3300;
	background-color: #cc3300;
	color: white;	
	font-size: 14px;
}

input:focus, input:active {
	outline: none;
}

.yOrdinat {
	float: left;
	padding-top: 210px;
}
