body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
}

p { font-size: 12px; }

h3 { font-size: 18px; }

h4 { font-size: 16px; }

p, h3, h4 {
	padding: 0;
	margin: 0;
}

.wrapper {
	background-color: #E0E0E0; 
	margin: 0;
	padding: 0;
}

.channel-competitive {
	border-radius: 10px;
	border: 1px solid #f5f5f5;
	background: white;
	margin: 20px;
	overflow: hidden;
	width: 80%;
	margin-left: 17%;
}

.add-new-button {
	display: table;
	border-radius: 20px;
	border: 2px solid #CC3300;
	width: 250px;
	height: 250px;
	font-size: 20px;
	margin: 20px;
	background: white;
}

.button-add {
	color: #CC3300;
	font-size: 50px;
	margin: 0;
	padding: 0;
}

.button-label {
	color: #CC3300;
	font-size: 22px;
}